{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template mod_gmeet/view

TODO describe template view

Example context (json):
{
}
}}



<p>{{#str}}join_meet_info, mod_gmeet {{/str}}
<p>
    <a name="" id="" class="btn btn-primary" href={{meetingUrl}} role="button" target="_blank"
        rel="noreferrer noopener">{{#str}}join_meet_button, mod_gmeet {{/str}}</a>
<div class="d-flex justify-content-between">

    {{#isowner}}
    
    <form class="d-flex" id="syncForm" action="sync_recordings.php" method="post" >
        <input type="hidden" name="space_name" value="{{spaceName}}">
        <input type="hidden" name="instance_id" value="{{instanceId}}">
        <input type="hidden" name="course_id" value="{{courseId}}">
        <button type="submit" name="" id="" class="btn btn-primary" role="button" data-action="mod_gmeet/sync_recordings">
            {{#str}} sync_recording_button, mod_gmeet {{/str}}
        </button>
    </form>
    

    {{/isowner}}
    
    {{#ismodmanager}}
    <button type="submit" name="" id="" class="btn btn-primary" role="button" data-action="mod_gmeet/add_recording" course-id="{{courseId}}" instance-id="{{instanceId}}">
        {{#str}} add_recording_button, mod_gmeet {{/str}}
    </button>
    {{/ismodmanager}}
</div>
{{#ismodmanager}}
<div class="pt-3">
    <p>{{#str}} sync_string, mod_gmeet {{/str}}: {{lastupdate}}</p>
</div>
{{/ismodmanager}}
    